@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Biz.OG.Models;
@model T_COM_Master_Grade
@{
    ViewBag.Title = "T_COM_Master_Grade";
}
<div class="row">
    @using (Ajax.BeginForm("Create", "T_COM_Master_Grade",
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST",
                                            UpdateTargetId = "T_COM_Master_Gradelist",
                                            LoadingElementId = "loadingDisplay",
                                            OnSuccess = "closePopup()",
                                            OnBegin = "onBegin",
                                            OnComplete = "onComplete",
                                        }, new { @class = "form-horizontal", @id = "frmT_COM_Master_Grade", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.GradeID,new {@class= "form-control" })

     
        <div class="ibox float-e-margins">
            
            <div class="ibox-title">
                <div class="panel-heading">
                    <button type="submit" class="btn btn-sm btn-info" name="btnsave" value="save"><i class="fa fa-save"></i></button>
                    <button class="btn btn-sm btn-info" type="button" name="Action" value="Refresh" data-url = "/T_COM_Master_Grade/Get" data-key-id="GradeID" data-form-id = "frmT_COM_Master_Grade" data-action="refresh" onclick="RefreshForm(this)"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-sm btn-info" data-url ="/T_COM_Master_Grade/Get" data-action="add" data-form-id = "frmT_COM_Master_Grade" data-key-id="GradeID" onclick="RefreshForm(this)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-info" data-url="/T_COM_Master_Grade/T_COM_Master_GradeEvt" data-action="delete" data-form-id="frmT_COM_Master_Grade" data-key-id="GradeID" onclick="DeleteData(this)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
               @* @ngonngu("T_COM_Master_Grade")*@
            </div>
            <div class="ibox-content">
                <div id="loadingDisplay" class="progressBarLoad">
                    <h2>@ngonngu("Progressing")...</h2>
                    <div class="progress progress-striped ">
                        <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@ngonngu("GradeID")</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.GradeID, new { htmlAttributes = new { @class = "form-control T_COM_Master_Gradesrc", @placeholder = ngonngu("GradeID"), @data_url = "/T_COM_Master_Grade/Search", @data_form_id = "frmT_COM_Master_Grade" } })
                        @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
                    </div>
                </div>
			      <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("GradeID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.GradeID, new { htmlAttributes = new { @class = "form-control",@disabled = ""} })
               @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("GradeName")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.GradeName, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("GradeName")} })
               @Html.ValidationMessageFor(model => model.GradeName, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("EntityID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EntityID, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("EntityID")} })
               @Html.ValidationMessageFor(model => model.EntityID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("IsMLevel")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.IsMLevel, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder=ngonngu("IsMLevel")} })
               @Html.ValidationMessageFor(model => model.IsMLevel, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("EmployeeType")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EmployeeType, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("EmployeeType")} })
               @Html.ValidationMessageFor(model => model.EmployeeType, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("CreatedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("CreatedBy")} })
               @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("CreatedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("CreatedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("ModifiedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("ModifiedBy")} })
               @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("ModifiedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("ModifiedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("IsActive")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder=ngonngu("IsActive")} })
               @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("Hierarchical_Level")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Hierarchical_Level, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("Hierarchical_Level")} })
               @Html.ValidationMessageFor(model => model.Hierarchical_Level, "", new { @class = "text-danger" })
             </div>
         </div>
             
            </div>


        </div>


    }

</div>

  <script>
        $(document).ready(function () {
            $('#GradeID').onfocus(function (e) {
               LoadAutoComplete(this);
            });
			 $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
        });

    </script>