@using LV.TMS.Models
@model hrm_atd_ScanTime
@{
    ViewBag.Title = "hrm_atd_ScanTime";
}
@using (Ajax.BeginForm("Create", "hrm_atd_ScanTime",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "hrm_atd_ScanTimelist",
                    LoadingElementId = "loadingDisplay",
                    OnSuccess = "closePopup()",
                    OnBegin = "onBegin",
                    OnComplete = "onComplete",
                }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.EmployeeNo)
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            @L("hrm_atd_ScanTime")
        </div>
        <div class="ibox-content">
            <div id="loadingDisplay" class="progressBarLoad">
                <h2>@L("Progressing")...</h2>
                <div class="progress progress-striped ">
                    <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@L("EmployeeNo")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.EmployeeNo, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("EmployeeNo") } })
                    @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@L("EmployeeName")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control hrm_atd_ScanTimesrc", @placeholder = L("EmployeeName"), @data_url = "/hrm_atd_ScanTime/Search", @data_form_id = "frmhrm_atd_ScanTime" } })
                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@L("Work_Date")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Work_Date, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("Work_Date") } })
                    @Html.ValidationMessageFor(model => model.Work_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@L("LeaveOT")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.LeaveOT, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("LeaveOT") } })
                    @Html.ValidationMessageFor(model => model.LeaveOT, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("TimeIn")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.TimeIn, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder = L("TimeIn") } })
                    @Html.ValidationMessageFor(model => model.TimeIn, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("TimeOut")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.TimeOut, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder = L("TimeOut") } })
                    @Html.ValidationMessageFor(model => model.TimeOut, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("Hours")</label>
                <div class="col-sm-10 input-group date">
                    @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("Hours") } })
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    @Html.ValidationMessageFor(model => model.Work_Date, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("Status")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder = L("Status") } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("RequestorNote")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.RequestorNote, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("RequestorNote") } })
                    @Html.ValidationMessageFor(model => model.RequestorNote, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("ApproverNote")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.ApproverNote, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder = L("ApproverNote") } })
                    @Html.ValidationMessageFor(model => model.ApproverNote, "", new { @class = "text-danger" })
                </div>
            </div>  <div class="form-group">
                <label class="col-sm-2 control-label">@L("isSubmit")</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.isSubmit, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder = L("isSubmit") } })
                    @Html.ValidationMessageFor(model => model.isSubmit, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block" name="btnsave" value="save">@L("SaveChange")</button>
            </div>
        </div>
    </div>


}


@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
	 var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		 elems.forEach(function (html) {
		     var switchery = new Switchery(html, { color: '#1AB394' });
		 });
		   $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
    });
</script>