@using Biz.CS.Models
@model DNHUsers
@{
    ViewBag.Title = "DNHUsers";
}
@using (Ajax.BeginForm("Create", "DNHUsers", 
    new AjaxOptions{
        InsertionMode = InsertionMode.Replace ,
        HttpMethod = "POST",
		UpdateTargetId ="DNHUserslist",
        LoadingElementId ="loadingDisplay",
        OnSuccess ="closePopup()",
        OnBegin = "onBegin", 
        OnComplete = "onComplete",
    }, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
                    @Html.ValidationSummary(true)
					 @Html.HiddenFor(m => m.IdCD)
					  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

				<div class="card">
					 <div class="card-header">
						<h4 class="card-title" id="from-actions-bottom-right"> @L("DNHUsers")</h4>
						<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        				<div class="heading-elements">
		                    <ul class="list-inline mb-0">
	                        <li><a data-action="close"><i class="ft-x"></i></a></li>
	                    </ul>
	                </div>
					<div class="card-body collapse in">
						<div class="card-block">
						<div class="form-body"> @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CompanyID")} })@Html.EditorFor(model => model.Id,"TextDisable", new { htmlAttributes = new { @class = "form-control {{cssclass}}", @placeholder=L("Id")} })@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Email")} })@Html.EditorFor(model => model.EmailConfirmed, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("EmailConfirmed")} })@Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("PasswordHash")} })@Html.EditorFor(model => model.SecurityStamp, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("SecurityStamp")} })@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("PhoneNumber")} })@Html.EditorFor(model => model.PhoneNumberConfirmed, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("PhoneNumberConfirmed")} })@Html.EditorFor(model => model.TwoFactorEnabled, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("TwoFactorEnabled")} })@Html.EditorFor(model => model.LockoutEndDateUtc, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("LockoutEndDateUtc")} })@Html.EditorFor(model => model.LockoutEnabled, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("LockoutEnabled")} })@Html.EditorFor(model => model.AccessFailedCount, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("AccessFailedCount")} })@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("UserName")} })@Html.EditorFor(model => model.CreatedUser, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedUser")} })@Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedDate")} })@Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("IsAdmin")} })@Html.EditorFor(model => model.Application, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Application")} })</div>
						<div class="form-actions right"> <button type="submit" class="btn btn-primary btn-block" name="btnsave" value="save">@L("SaveChange")</button></div>
						</div>
					</div>
	            </div>
					 </div>

 }


  @Scripts.Render("~/bundles/jqueryval")
