<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosch - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datapicker")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Scripts/css/Table")



    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/js/Dtable")
    @Scripts.Render("~/js/datapicker")
    @Styles.Render("~/Content/iCheck")
    @Styles.Render("~/Content/Lobibox")
    @Scripts.Render("~/js/Lobibox")
    @Scripts.Render("~/js/swichery")
    @Scripts.Render("~/js/maskMoney")

    <script type="text/javascript">
        var appName = '@HttpContext.Current.Request.ApplicationPath'
        if (appName == "/") {
            appName = "";
        }
        var fullPath = '@HttpContext.Current.Request.Url.Scheme://@HttpContext.Current.Request.Url.Authority' + appName;
        function GetPath(url) {
            return fullPath + url;
        }
    </script>
</head>

<body class="vertical-layout vertical-menu 2-columns  fixed-navbar menu-collapsed" data-open="click" data-menu="vertical-menu" data-col="2-columns">
    @Html.Partial("V1/_header")


    @Html.Partial("V1/_MenuPartial_V1")
    <div class="app-content  container-fluid" style="padding-left:0px;padding-top:30px;">
        
        <div class="content">
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- Analytics spakline & chartjs  -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" id="mainctn">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" role="dialog" id="myModal" class="modal fade ">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="popcnt" class="row"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @*<div aria-hidden="true" role="dialog" tabindex="-1" id="myModalAlert" data-message="textMessage" data-button="btnOk" class="modal fade" style="display: none;">
            <div class="modal-dialog" data-backdrop="static">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header text-left">
                        <h2 class="modal-title" style="text-align:left;font-weight:700">@L("Warning")</h2>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div id="textMessage" class="row"></div>
                        </div>
                    </div>
                    <div class="modal-footer " style="text-align:center">
                        <button class="btn btn-primary" type="button" id="btnOk">@L("OK")</button>
                    </div>

                </div>
            </div>
        </div>*@


    @Scripts.Render("~/js/stack")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/js/iCheck")
    @Scripts.Render("~/Scripts/jsForm")
    @*@Scripts.Render("~/js/app")*@
    @RenderSection("scripts", required: false)
   
</body>
</html>
