@using Biz.CS.Models
@model DNHLocaleStringResource
@{
    ViewBag.Title = "DNHLocaleStringResource";
}
@using (Ajax.BeginForm("Save", "DNHLocaleStringResource",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "DNHLocaleStringResourcelist",
                    LoadingElementId = "loadingDisplay",
                    OnSuccess = "onSuccess",
                    OnBegin = "onBegin",
                    OnComplete = "onComplete",
                }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ResourceName)
    @Html.HiddenFor(m => m.CompanyID)
    @Html.HiddenFor(m => m.CreatedUser)
    @Html.HiddenFor(m => m.CreatedDate)

    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> @L("DNHLocaleStringResource")</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            @*<div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                </ul>
            </div>*@
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="form-body">
                        
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">@L("Entity")</label>
                            <div class="col-md-12">
                                
                                <div class="col-sm-12">
                                    @Html.DropDownList("LanguageID",
                                        new SelectList(Biz.CS.Services.DNHLanguageManager.GetAll(), "LanguageID", "Name"), @L("-- All--"),
                                        new { @class = "form-control chosen-select select-control frmfilter", @id = "LanguageID" })
                                </div>
                            </div>
                        </div>
                        @Html.EditorFor(model => model.ResourceName, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                        @Html.EditorFor(model => model.ResourceValue, new { htmlAttributes = new { @class = "form-control ", @placeholder = L("ResourceValue") } })

                    </div>
                    <div class="form-actions right"> <button type="submit" class="btn btn-primary btn-block" name="btnsave" value="save">@L("SaveChange")</button></div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

