@using Biz.OG.Models
@model T_COM_Master_Employee_Position
@{
    ViewBag.Title = "T_COM_Master_Employee_Position";
}
@using (Ajax.BeginForm("Create", "T_COM_Master_Employee_Position", 
    new AjaxOptions{
        InsertionMode = InsertionMode.Replace ,
        HttpMethod = "POST",
		UpdateTargetId ="T_COM_Master_Employee_Positionlist",
        LoadingElementId ="loadingDisplay",
        OnSuccess ="closePopup()",
        OnBegin = "onBegin", 
        OnComplete = "onComplete",
    }, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
                    @Html.ValidationSummary(true)
					 @Html.HiddenFor(m => m.ID)
 <div class="ibox float-e-margins">
     <div class="ibox-title">
         @L("T_COM_Master_Employee_Position")
     </div>
     <div class="ibox-content">
	 <div id="loadingDisplay" class="progressBarLoad">
             <h2>@L("Progressing")...</h2>
             <div class="progress progress-striped ">
                 <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
             </div>
         </div>
	   <div class="form-group">
             <label class="col-sm-2 control-label">@L("ID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control",@disabled = ""} })
               @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("EmployeeCode")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("EmployeeCode")} })
               @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("GradeID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.GradeID, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("GradeID")} })
               @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("PositionID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.PositionID, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("PositionID")} })
               @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Salary")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Salary")} })
               @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("HomeCountrySalary")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.HomeCountrySalary, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("HomeCountrySalary")} })
               @Html.ValidationMessageFor(model => model.HomeCountrySalary, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("HostCountryCurrency")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.HostCountryCurrency, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("HostCountryCurrency")} })
               @Html.ValidationMessageFor(model => model.HostCountryCurrency, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("HomeCountryCurrency")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.HomeCountryCurrency, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("HomeCountryCurrency")} })
               @Html.ValidationMessageFor(model => model.HomeCountryCurrency, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("EffectiveFrom")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EffectiveFrom, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("EffectiveFrom")} })
               @Html.ValidationMessageFor(model => model.EffectiveFrom, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("EffectiveTo")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EffectiveTo, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("EffectiveTo")} })
               @Html.ValidationMessageFor(model => model.EffectiveTo, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("CreatedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedBy")} })
               @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("CreatedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("ModifiedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("ModifiedBy")} })
               @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("ModifiedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("ModifiedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("IsAcitve")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.IsAcitve, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder=L("IsAcitve")} })
               @Html.ValidationMessageFor(model => model.IsAcitve, "", new { @class = "text-danger" })
             </div>
         </div>
       

     </div>
     
         <div class="hr-line-dashed"></div>

         <div class="form-group">
             <div class="col-sm-12">
                 <button type="submit" class="btn btn-primary btn-block" name="btnsave" value="save">@L("SaveChange")</button>
             </div>
         </div>
     </div>


 }


  @Scripts.Render("~/bundles/jqueryval")

   <script>
    $(document).ready(function () {
	 var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		 elems.forEach(function (html) {
		     var switchery = new Switchery(html, { color: '#1AB394' });
		 });
		   $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
    });
</script>