        @using Biz.OG.Models
        @model EPPositionCollection
        @{
            ViewBag.Title = "EPPosition";

}
@using (Ajax.BeginForm("EPPositionEvt", "EPPosition",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "EPPositionlist",
                    OnBegin = "onBegin",
                    OnComplete = "onComplete",
                }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading" style="height:44px;">

                    <h3 class="panel-title list-panel-title">@L("Position")</h3>

                </div>

                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-info" href='@Url.Action("ListUpload", "EPPosition", new { Code = "" })' dis="popcnt" target="ExcelImport">
                            <i class="fa fa-upload"></i>
                            @L("Import")
                        </a>
                        <a href='@Url.Action("ExportExcel", "EPPosition", new { Code = "" })' class="btn btn-sm btn-info" title="ExportToExcel" id="btnExportExcel">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm btn-default btndtbEPPosition" data-target="#myModal" data-toggle="modal" data="add" link='@Url.Action("Create", "EPPosition", new { Code = "" })' dis="popcnt">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-default" type="submit" name="Action" value="Delete"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-default btn-sm refresh-button refresh-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>

                    <hr />
                    <div>
                        <table id="dtbEPPosition" class="table table-striped table-bordered" data-url='@Url.Action("GetGata", "EPPosition")'
                               arr-id="EPPositionarr" key="PositionID" default-search="" allow-search="1" allow-chk="1" style="width:100%" 
                               link-Expand='@Url.Action("Positionlist","EPPositionSkillSet")' link-update='@Url.Action("Save","EPPosition")' ></table>
                        <input type='hidden' value="['Description','CreatedUser']" id='EPPositionarr' />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
        $(function () { TableShow("dtbEPPosition"); })
    </script>
}