@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Biz.OG.Models;
@model T_CMS_Static_PeriodOfProbation
@{
    ViewBag.Title = "T_CMS_Static_PeriodOfProbation";
}
<div class="row">
    @using (Ajax.BeginForm("Create", "T_CMS_Static_PeriodOfProbation",
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST",
                                            UpdateTargetId = "T_CMS_Static_PeriodOfProbationlist",
                                            LoadingElementId = "loadingDisplay",
                                            OnSuccess = "closePopup()",
                                            OnBegin = "onBegin",
                                            OnComplete = "onComplete",
                                        }, new { @class = "form-horizontal", @id = "frmT_CMS_Static_PeriodOfProbation", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ID,new {@class= "form-control" })

     
        <div class="ibox float-e-margins">
            
            <div class="ibox-title">
                <div class="panel-heading">
                    <button type="submit" class="btn btn-sm btn-info" name="btnsave" value="save"><i class="fa fa-save"></i></button>
                    <button class="btn btn-sm btn-info" type="button" name="Action" value="Refresh" data-url = "/T_CMS_Static_PeriodOfProbation/Get" data-key-id="ID" data-form-id = "frmT_CMS_Static_PeriodOfProbation" data-action="refresh" onclick="RefreshForm(this)"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-sm btn-info" data-url ="/T_CMS_Static_PeriodOfProbation/Get" data-action="add" data-form-id = "frmT_CMS_Static_PeriodOfProbation" data-key-id="ID" onclick="RefreshForm(this)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-info" data-url="/T_CMS_Static_PeriodOfProbation/T_CMS_Static_PeriodOfProbationEvt" data-action="delete" data-form-id="frmT_CMS_Static_PeriodOfProbation" data-key-id="ID" onclick="DeleteData(this)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
               @* @ngonngu("T_CMS_Static_PeriodOfProbation")*@
            </div>
            <div class="ibox-content">
                <div id="loadingDisplay" class="progressBarLoad">
                    <h2>@ngonngu("Progressing")...</h2>
                    <div class="progress progress-striped ">
                        <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@ngonngu("ID")</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control T_CMS_Static_PeriodOfProbationsrc", @placeholder = ngonngu("ID"), @data_url = "/T_CMS_Static_PeriodOfProbation/Search", @data_form_id = "frmT_CMS_Static_PeriodOfProbation" } })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
			      <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("ID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control",@disabled = ""} })
               @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("EmpSubTypeID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.EmpSubTypeID, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("EmpSubTypeID")} })
               @Html.ValidationMessageFor(model => model.EmpSubTypeID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("Period")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("Period")} })
               @Html.ValidationMessageFor(model => model.Period, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("PeriodDescription")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.PeriodDescription, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("PeriodDescription")} })
               @Html.ValidationMessageFor(model => model.PeriodDescription, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("IsActive")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder=ngonngu("IsActive")} })
               @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("CreatedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("CreatedBy")} })
               @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("CreatedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("CreatedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("ModifiedBy")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("ModifiedBy")} })
               @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@ngonngu("ModifiedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=ngonngu("ModifiedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
             </div>
         </div>
             
            </div>


        </div>


    }

</div>

  <script>
        $(document).ready(function () {
            $('#ID').onfocus(function (e) {
               LoadAutoComplete(this);
            });
			 $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
        });

    </script>