@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Biz.TMS.Models;
@model ls_PayrollDOWS_RBVH
@{
    ViewBag.Title = "ls_PayrollDOWS_RBVH";
}
<div class="row">
    @using (Ajax.BeginForm("Create", "ls_PayrollDOWS_RBVH",
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST",
                                            UpdateTargetId = "ls_PayrollDOWS_RBVHlist",
                                            LoadingElementId = "loadingDisplay",
                                            OnSuccess = "closePopup()",
                                            OnBegin = "onBegin",
                                            OnComplete = "onComplete",
                                        }, new { @class = "form-horizontal", @id = "frmls_PayrollDOWS_RBVH", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ENtityID,new {@class= "form-control" })

     
        <div class="ibox float-e-margins">
            
            <div class="ibox-title">
                <div class="panel-heading">
                    <button type="submit" class="btn btn-sm btn-primary" name="btnsave" value="save"><i class="fa fa-save"></i></button>
                    <button class="btn btn-sm btn-primary" type="button" name="Action" value="Refresh" data-url = "/ls_PayrollDOWS_RBVH/Get" data-key-id="ENtityID" data-form-id = "frmls_PayrollDOWS_RBVH" data-action="refresh" onclick="RefreshForm(this)"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-sm btn-primary" data-url ="/ls_PayrollDOWS_RBVH/Get" data-action="add" data-form-id = "frmls_PayrollDOWS_RBVH" data-key-id="ENtityID" onclick="RefreshForm(this)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" data-url="/ls_PayrollDOWS_RBVH/ls_PayrollDOWS_RBVHEvt" data-action="delete" data-form-id="frmls_PayrollDOWS_RBVH" data-key-id="ENtityID" onclick="DeleteData(this)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
               @* @L("ls_PayrollDOWS_RBVH")*@
            </div>
            <div class="ibox-content">
                <div id="loadingDisplay" class="progressBarLoad">
                    <h2>@L("Progressing")...</h2>
                    <div class="progress progress-striped ">
                        <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@L("ENtityID")</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.ENtityID, new { htmlAttributes = new { @class = "form-control ls_PayrollDOWS_RBVHsrc", @placeholder = L("ENtityID"), @data_url = "/ls_PayrollDOWS_RBVH/Search", @data_form_id = "frmls_PayrollDOWS_RBVH" } })
                        @Html.ValidationMessageFor(model => model.ENtityID, "", new { @class = "text-danger" })
                    </div>
                </div>
			      <div class="form-group">
             <label class="col-sm-2 control-label">@L("Dow_ID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Dow_ID, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Dow_ID")} })
               @Html.ValidationMessageFor(model => model.Dow_ID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Dow_Code")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Dow_Code, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Dow_Code")} })
               @Html.ValidationMessageFor(model => model.Dow_Code, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Beg_Day")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.Beg_Day, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Beg_Day")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.Beg_Day, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("End_Day")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.End_Day, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("End_Day")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.End_Day, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Dow_Num")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Dow_Num, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Dow_Num")} })
               @Html.ValidationMessageFor(model => model.Dow_Num, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("ENtityID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.ENtityID, new { htmlAttributes = new { @class = "form-control",@disabled = ""} })
               @Html.ValidationMessageFor(model => model.ENtityID, "", new { @class = "text-danger" })
             </div>
         </div>
             
            </div>


        </div>


    }

</div>

  <script>
        $(document).ready(function () {
            $('#ENtityID').onfocus(function (e) {
               LoadAutoComplete(this);
            });
			 $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
        });

    </script>