@using Biz.Core.Models
@model Language
@{
    ViewBag.Title = "Language";
}
@using (Ajax.BeginForm("Create", "Language", 
    new AjaxOptions{
        InsertionMode = InsertionMode.Replace ,
        HttpMethod = "POST",
		//UpdateTargetId ="Languagelist",
		UpdateTargetId = Model.TargetDisplayID,
        LoadingElementId ="loadingDisplay",
        OnSuccess ="closePopup()",
        OnBegin = "onBegin", 
        OnComplete = "onComplete",
    }, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
                    @Html.ValidationSummary(true)
					 @Html.HiddenFor(m => m.LanguageId)
					  
 
 
 
 
 
 
 

 <div class="ibox float-e-margins">
     <div class="ibox-title">
         @L("Language")
     </div>
     <div class="ibox-content">
	 <div id="loadingDisplay" class="progressBarLoad">
             <h2>@L("Progressing")...</h2>
             <div class="progress progress-striped ">
                 <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
             </div>
         </div>
	   <div class="form-group">
             <label class="col-sm-2 control-label">@L("CompanyID")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CompanyID")} })
               @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("LanguageId")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.LanguageId, new { htmlAttributes = new { @class = "form-control",@disabled = ""} })
               @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Name")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("Name")} })
               @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("LanguageCulture")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.LanguageCulture, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("LanguageCulture")} })
               @Html.ValidationMessageFor(model => model.LanguageCulture, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("Published")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-control i-checks js-switch", @placeholder=L("Published")} })
               @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("DisplayOrder")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("DisplayOrder")} })
               @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("CreatedUser")</label>
             <div class="col-sm-10">
               @Html.EditorFor(model => model.CreatedUser, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedUser")} })
               @Html.ValidationMessageFor(model => model.CreatedUser, "", new { @class = "text-danger" })
             </div>
         </div>  <div class="form-group">
             <label class="col-sm-2 control-label">@L("CreatedDate")</label>
             <div class="col-sm-10 input-group date">
               @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control ", @placeholder=L("CreatedDate")} })
               <span class="input-group-addon">
                 <i class="fa fa-calendar"></i>
               </span>
               @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
             </div>
         </div>
       

     </div>
     
         <div class="hr-line-dashed"></div>

         <div class="form-group">
             <div class="col-sm-12">
                 <button type="submit" class="btn btn-primary btn-block" name="btnsave" value="save">@L("SaveChange")</button>
             </div>
         </div>
     </div>


 }


  @Scripts.Render("~/bundles/jqueryval")

  <script>
    $(document).ready(function () {
	var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		 elems.forEach(function (html) {
		     var switchery = new Switchery(html, { color: '#1AB394' });
		 });
		   $('.date').datepicker({
		     todayBtn: "linked",
		     keyboardNavigation: false,
		     forceParse: false,
		     calendarWeeks: true,
		     autoclose: true
		 });
    });
</script>